*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Основной код */

.content {
  width: 1140px;
  display: grid;
  grid-template-areas: "result details";
  gap: 30px;
  align-items: end;
  padding-bottom: 150px;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: details;
  width: 100%;
  height: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  cursor: pointer;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search-form__textfield {
  min-width: 225px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  opacity: 0.7;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* чтобы не подчеркивался текст в текстовом поле input */
.search-form__label:has(input[type="checkbox"]):hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
  display: flex;
}

.search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
}

.button:hover{
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  padding: 5px 73.5px;
}

.more-button {
  width: 100%;
  padding: 6px 142px;
}

.title {
  padding-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 30px;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__card-link {
  display: block;
}

.content__card-link {
  text-decoration: none;
  color:#fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  /* при переполнении */
  white-space: nowrap;        
  overflow: hidden;           
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 400;
  /* при переполнении */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link:hover {
  text-decoration: 1px underline #fff;
  text-decoration-skip-ink: none;
}